.result-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.result-popup-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}

.result-popup-messages {
    font-size: 17px;
    margin: 40px 0;
}

.result-popup-task-title {
    font-size: 25px;
}

.result-popup-topic-title {
    font-size: 20px;
    color: #444;
}

.result-popup-result {
    font-size: 17px;
    margin: 20px 0;
    font-weight: bold;
}

.result-popup-button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    font-size: 17px;
}

.finish-task-popup-header {
    font-size: 25px;
    margin-bottom: 20px;
}

.finish-task-popup-message {
    font-size: 17px;
}

.finish-task-popup-result {
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
}

.finish-task-popup-button{
    background-color: #999;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 10px 10px 0 0;
}