.profile-card {
    background-color: #fff;
    padding: 30px;
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
}

.profile-feature {
    font-weight: bold;
}

.profile-feature, .profile-value {
    font-size: 18px;
    display: inline;
}

.qa-element {
    padding-bottom: 15px;
}

.edit-profile-button {
    border: none;
    background-color: #777;
    color: white;
    border-radius: 4px;
    padding: 7px 30px;
}

.user-icon {
    width: 50%;
}

.topics-header {
    font-size: 25px;
    margin: 10px 0;
}

.profile-topic {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
}

.profile-topic:hover {
    cursor: pointer;
}

.profile-topic-title {
    font-size: 20px;
}

.profile-topic-tasks {
    font-size: 17px;
}

.profile-topic-result {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}