.task-wrapper {
    padding: 20px 130px;
}

.task-block {
    background-color: white;
    padding: 20px 0;
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0!important;
}

.task-header {
    font-size: 25px
}

.task-question {
    font-size: 17px;
}

.task-button {
    border: none;
    width: 200px;
    padding: 5px 0;
    border-radius: 4px;
    color: white;
    margin-top: 25px;
}

.topic-header {
    padding: 0 130px;
    font-size: 30px;
}
.task-image{
    width: 50%;
}
.task-status-message{
    font-weight: bold;
    margin: 10px 0;
}