.add-topic-header {
    font-size: 30px;
    text-align: center;
}

.add-topic-main-information {
    background-color: white;
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    border-radius: 4px;
}

.add-topic-main-information-wrapper {
    padding: 20px 15px;
}

.add-topic-block-header {
    font-size: 20px;
    margin-bottom: 20px;
    background: #40467d;
    color: white;
    padding: 15px 20px;
}

.add-topic-block {
    padding: 10px 20px 30px;
}

.add-topic-question-block {
    margin: 10px;
}

.add-topic-input {
    border: none;
    border-radius: 4px;
    background-color: white;
    padding: 5px 10px;
    font-size: 17px;
    width: 95%;
}

.course-options {
    border: none;
    border-radius: 4px;
    background-color: white;
    padding: 5px 10px;
    font-size: 17px;
    width: 100%;
}

.course-option {
    font-size: 17px;
    padding: 50px 10px;
}

.course-option:hover {
    background-color: black;
}

.add-topic-label {
    font-size: 17px;
    margin: 0;
    font-weight: bold;
}

.add-task-header {
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
}

.add-task-icon {
    width: 100%;
}

.add-task-icon-wrapper {
    background-color: white;
    width: 60%;
    border-radius: 50%;
    padding: 10%;
}

.add-task-icon-wrapper:hover, .add-task-label:hover {
    cursor: pointer;
}

.add-task-label {
    font-size: 17px;
}

.add-topic-button {
    border: none;
    background: #999;
    color: white;
    font-size: 17px;
    padding: 7px 20px;
    border-radius: 4px;
    margin: 5px;
}

.add-topic-button:hover {
    cursor: pointer;
}

.add-topic-button-active {
    background: #40467d;
}

.button-block {
    margin-top: 50px;
}

.add-task-block {
    background-color: rgba(194, 201, 226, 0.67);
    margin-bottom: 40px;
    border-radius: 4px;
}

.question-number {
    font-size: 17px;
    text-align: center;
}

th {
    font-size: 15px;
}

table {
    background-color: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    margin: 0 !important;
}

tr {
    width: 10%;
}

.task-list-header {
    font-size: 25px;
}

li {
    padding-left: 20px;
    font-size: 17px;
}

.admin-task-wrapper {
    padding: 10px 20px;
}

.admin-task-block {
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.admin-panel-button {
    display: block;
    border: none;
    border-radius: 4px;
    width: 100%;
    color: white;
    background-color: #b4b4b4;
    padding: 7px 0;
    margin: 10px 0;
    font-size: 17px;
}

.admin-panel-button-active {
    display: block;
    border: none;
    border-radius: 4px;
    width: 100%;
    color: white;
    background-color: #40467d;
    padding: 7px 0;
    margin: 10px 0;
    font-size: 17px;
}

.admin-panel-topic-title {
    font-size: 25px;
    margin-bottom: 10px;
}

.admin-panel-message {
    font-size: 20px;
}

.table-wrapper {
    overflow-x: auto;
    margin: 40px 0;
}

.delete-question-icon {
    color: #818181;
    font-size: 17px;
}

.delete-task-icon {
    color: #ffffff;
    font-size: 17px;
}

.delete-question-icon:hover, .delete-task-icon:hover {
    cursor: pointer;
}

i:hover {
    cursor: pointer;
}

.search-admin-input {
    background-color: white;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    padding: 10px;
    width: 70%;
}

.search-block-wrapper {
    padding: 10px;
}

.search-admin-button {
    background-color: #FFB351;
    display: inline-block;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    padding: 10px 20px;
    margin: 0 10px;
}

.admin-button {
    display: block;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #40467d;
    padding: 7px 10px;
    margin: 10px 0;
    font-size: 17px;
}

.admin-panel-block{
    background: white;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}

.admin-panel-header{
    font-size: 25px;
}

.admin-panel-info{
    font-size: 17px;
    padding: 15px 0 30px;
}

input[type=date] {
    background-color: white;
    width: 345px;
}